{% extends "base.html" %}
{% block css %} {% endblock css %}


{% block page_content %}


<div class="container-fluid">
	<div class="row m-1 mt-4 pt-2 mt-sm-2 mb-2 pb-2">
		<div>
			<ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-1">
				
				<li class="breadcrumb-item text-black opacity-75">
					<a href="#" class="text-black text-hover-primary">Home</a>
				</li>
				<li class="breadcrumb-item text-black opacity-75">Add Product</li>
			</ul>
		</div>
	</div>
	<div class="row shadow bg-white  text-center m-1 mt-4 pt-2 mt-sm-2 mb-2 pb-2">
		<div class="col">
		<form method="post">
			<div class="row">
				<div class="col">
					<div class="row">
						<div class="col text-start pt-3 ">
							<div class="pt-3 pb-1  ">
								<div class="d-inline ">
									<div class="pb-1 px-1">Name :</div>
									<input class="detailsbr px-1" style="width: 270px" name="productname" value="" placeholder="Methanol">
								</div>
							</div>
						</div>
						<div class="col text-start pt-3 ">
							<div class="pt-3 pb-1  ">
								<div class="d-inline ">
									<div class="pb-1 px-1">Info. :</div>
									<input class="detailsbr px-1" style="width: 270px" name="productinfo" value="" placeholder="M info.....">
								</div>
							</div>
						</div>
						<div class="col text-start pt-3 ">
							<div class="pt-3 pb-1  ">
								<div class="d-inline ">
									<div class="pb-1 px-1">Color :</div>
									<input class="detailsbr p-1 " style="width: 270px" name="productcolor" value="" type="color" >
								</div>
							</div>
						</div>
						<div class="col text-start pt-3 ">
							<div class="pt-3 pb-1  ">
								<div class="d-inline ">
									<div class="pb-1 px-1">Symbol :</div>
									<input class="detailsbr px-1" style="width: 270px" name="productsymbol" value="" placeholder="M">
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-3 mt-5">
							<div class="card" style="width: 300px;">
							  	<div class="card-header">
							    	<div style="font-size: 18px;"><b>Ports</b></div>
							  	</div>
							  	<ul class="list-group list-group-flush">
							    	<li class="list-group-item">
							    		<div class="text-start">
					                		<input type="checkbox" id="p1" name="p1" value="Kandla">
											<label for="p1" class="px-2">Kandla</label><br>
					                	</div>
                					</li>
							    	<li class="list-group-item">
							    		<div class="text-start">
					                		<input type="checkbox" id="p2" name="p2" value="Hazira">
											<label for="p2" class="px-2">Hazira</label><br>
					                	</div>
							    	</li>
							    	<li class="list-group-item">
							    		<div class="text-start">
					                		<input type="checkbox" id="p3" name="p3" value="Mundra">
											<label for="p3" class="px-2">Mundra</label><br>
					                	</div>
							    	</li>
							  	</ul>
							</div>
						</div>
						<div class="col-3 mt-5">
							<div class="card" style="width: 300px;">
							  	<div class="card-header">
							    	<div style="font-size: 18px;"><b>Payment Method</b></div>
							  	</div>
							  	<ul class="list-group list-group-flush">
							    	<li class="list-group-item">
							    		<div class="text-start">
					                		<input type="checkbox" id="pmt1" name="pmt1" value="Cash">
											<label for="pmt1" class="px-2">Cash</label><br>
					                	</div>
                					</li>
							    	<li class="list-group-item">
							    		<div class="text-start">
					                		<input type="checkbox" id="pmt2" name="pmt2" value="Credit">
											<label for="pmt2" class="px-2">Credit</label><br>
					                	</div>
							    	</li>
							    	<!-- <li class="list-group-item">
							    		<div class="text-start">
					                		<input type="checkbox" id="pmt3" name="pmt3" value="COB">
											<label for="pmt3" class="px-2">COB</label><br>
					                	</div>
							    	</li> -->
							  	</ul>
							</div>
						</div>
					</div>
					<div class="row">
						
					</div>
				</div>
				<div class="col-12">
					<div class="row mt-5 pb-3">
						<div class="col text-center">
							<button type="button" class="btn btn-success">Save</button>
						</div>
					</div>
				</div>
			</div>
		</form>
		</div>
	</div>
</div>



{% endblock page_content %}