{% extends "base.html" %}
{% block css %} {% endblock css %}



{% block page_content %}

<div class="container-fluid">
	<div class="row shadow bg-white  text-center m-1 mt-4 pt-2 mt-sm-2 mb-2 pb-2">
		<div class="col">
			<div class="row">
				<div class="col-2 pt-2 ">
					<div class="pt-2 pb-1 px-3  companyp">Company Profile</div>
				</div>
				
			</div>

			<div class="row p-1 pt-4 border-bottom">
				<div class="col-8 d-flex">

					<!-- company logo & name -->

					<div class="p-2  text-start"><img src="./static/img/Production.png" width="50" height="50" alt="" ></div>
					<div class="pt-2 px-2 f30px text-start">Abc Ltd. </div>
					
				</div>
				<div class="col-4 pt-2 ">
					<div class="pt-2 pb-1 px-3 ">
						<div class="d-inline px-4">
							<label for="action">User Actions :</label>
							<select name="action" id="action">
  								<option value="action 1">Add User</option>
  								<option value="action 2">Disable User</option>
  								<option value="action 3">Message User</option>
  								<option value="action 4">Another action</option>
							</select>
						</div>
					</div>
				</div>
			</div>


			<div class="row">

				<!-- email -->

				<div class="col p-4">
					<div class="row">
						<div class="px-3 pt-3 pb-2 text-start"><b>Email</b></div>
					</div>
					<div class="row">
						<div class="px-3 pt-2 pb-1 text-start border infobox">XXXXXX</div>
					</div>					
				</div>


				<!-- phone -->

				<div class="col p-4">
					<div class="row">
						<div class="px-3 pt-3 pb-2 text-start"><b>Phone</b></div>
					</div>
					<div class="row">
						<div class="px-3 pt-2 pb-1 text-start border infobox">XXXXXX</div>
					</div>	
				</div>

				<!-- registered as -->

				<div class="col p-4">
					<div class="row">
						<div class="px-3 pt-3 pb-2 text-start"><b>Registered as</b></div>
					</div>
					<div class="row">
						<div class="px-3 pt-2 pb-1 text-start border infobox">XXXXXX</div>
					</div>	
				</div>

				<!-- password -->

				<div class="col p-4">
					<div class="row">
						<div class="px-3 pt-3 pb-2 text-start"><b>Password</b></div>
					</div>
					<div class="row">
						<div class="px-3 pt-2 pb-1 text-start border infobox">XXXXXX</div>
					</div>	
				</div>
			</div>

			<div class="row border-bottom">

				<!-- Plan -->

				<div class="col p-4">
					<div class="row">
						<div class="px-3 pt-3 pb-2 text-start"><b>Subscription Plan</b></div>
					</div>
					<div class="row">
						<div class="px-3 pt-2 pb-1 text-start border infobox">XXXXXX</div>
					</div>					
				</div>


				<!-- Start Date -->

				<div class="col p-4">
					<div class="row">
						<div class="px-3 pt-3 pb-2 text-start"><b>Plan Start Date</b></div>
					</div>
					<div class="row">
						<div class="px-3 pt-2 pb-1 text-start border infobox">XXXXXX</div>
					</div>	
				</div>

				<!-- Expiry Date  -->

				<div class="col p-4">
					<div class="row">
						<div class="px-3 pt-3 pb-2 text-start"><b>Plan Expiry Date</b></div>
					</div>
					<div class="row">
						<div class="px-3 pt-2 pb-1 text-start border infobox">XXXXXX</div>
					</div>	
				</div>

				<!-- Kyc button -->

				<div class="col p-4">
					<div class="row">
						<div class="px-3 pt-3 pb-2 text-start"><b>KYC info</b></div>
					</div>
					<div class="row">
						<div class="px-3 pt-1 pb-1 text-start "><button class="kycbtn">View</button></div>
					</div>	
				</div>
			</div>

<!-- tab button 

			<div class="row">
				<div class="col pt-3">
					<div class="tab">
						<button class="tablinks" onclick="openTab(event, 'Trade Summary')">Trade Summary</button>
						<button class="tablinks" onclick="openTab(event, 'Wallet Summary')">Wallet Summary</button>
					</div>
					<div id="Trade Summary" class="tabcontent">
						amfmf
					</div>
					<div id="Trade Summary" class="tabcontent">
						mfkfk
					</div>
					<script src="../static/js/companydetail.js"></script>
				</div>
			</div>
			<div class="row">
				<div class="col">
					
				</div>
			</div>-->
		</div>
	</div>
</div>

{% endblock page_content %}




